In [1]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [3]:
def max_drawdown(X):
    mdd = 0
    peak = X[0]
    for x in X:
        if x > peak: 
            peak = x
        dd = (peak - x) / peak
        if dd > mdd:
            mdd = dd
    return mdd

In [4]:
cd 'C:\Users\dsi\Documents\Python Scripts\data'

C:\Users\dsi\Documents\Python Scripts\data

In [5]:
SP = pd.DataFrame.from_csv('SP Monthly.csv')

In [6]:
SP.columns = ['AdjClose','T Bill']
# SP['T Bill'] = TB.fillna(method='ffill')
# SP['T Bill'] = SP['T Bill']*0

In [7]:
FiveYrMax = pd.rolling_max(SP['AdjClose'],60)

In [8]:
SP['Pullback']=(SP['AdjClose']-FiveYrMax)/FiveYrMax

In [9]:
SP['T Bill'] = SP['T Bill']/100

In [10]:
SP['Date'] = SP.index

In [11]:
SP = SP[['Date','AdjClose','Pullback','T Bill']]

In [12]:
SP.index= list(range(len(SP.index)))

In [13]:
SP['T Bill'] = SP['T Bill']*0
SP = SP[0:775]

In [14]:
# d = dt.datetime(2007,1,1)
# SP = SP[SP['Date']<= d]

In [19]:
MTM = []
sharpe = []
mdd = []
entry = []

In [20]:
thres = [0.1,0.1,0.15,0.4]
alloc =[1,0,0,0]

for thre in [thre / 100.0 for thre in range(1,51)]:
    thres = [thre,1,0.3,0.4]
    InitialCash = 1000000
    StartDate = 60
    Time = 0
      # set allocation
    N,M = SP.shape
    p = np.zeros([N,1])
#     p1 = np.zeros([N,1])
#     p2 = np.zeros([N,1])
#     p3 = np.zeros([N,1])
#     p4 = np.zeros([N,1])
#     p5 = np.zeros([N,1])
#     p6 = np.zeros([N,1])
#     plist = [p1,p2,p3,p4,p5,p6]
    val = np.zeros([N,1])
    Cash = np.zeros([N,1])
    Cash[StartDate-1] = InitialCash
    val[StartDate-1] = InitialCash
    buySignal = [False,False,False,False,False,False]
    levels = ['1','2','3','4']
    position = {elem : [] for elem in levels}

    for x in range(StartDate,len(SP.index)): 

    # Compound free cash using 3-month T-bill rate (divided by three to make it monthly)

        Cash[x] = Cash[x-1]*(1+SP.loc[x,'T Bill'])
        p[x] = p[x-1]

    # Check selling signals for all positions at all levels

        for key in position.keys():
            if position[key]:
                for pos in range(len(position[key])):
                    if (x-position[key][pos][0])%12==0:
                        #sell
                        mult_helper = (x-position[key][pos][0])/12
                        mult = (5-mult_helper)/(6-mult_helper)
                        Cash[x] = Cash[x] + SP.loc[x,'AdjClose']*position[key][pos][1]*(1-mult)
                        p[x] = p[x] - position[key][pos][1]*(1-mult)
                        position[key][pos][1] = position[key][pos][1]*mult
                for pos in position[key]:       
                    if pos[1] == 0:
                        del position[key][position[key]==pos]

    # Check if position at certain level is zero, switch to buy if yes    

        for key in position.keys():
            n = int(key)-1
            if not position[key]:
                buySignal[n] = False

    # Check if new high occurs 

        if SP.loc[x,'Pullback'] == 0:
            for i in range(len(buySignal)):
                buySignal[i] = False

    # Check buying signal and make order

        for key in position.keys():
                n = int(key)-1          
                if(int(key) != len(levels)):
                    if (SP.loc[x-1,'Pullback']> -thres[n]) & (SP.loc[x,'Pullback'] <= -thres[n]) & (SP.loc[x,'Pullback'] > -thres[n+1]) & (not buySignal[n]):
                        #buy
                        share = Cash[x]*alloc[n]/SP.loc[x,'AdjClose']
                        position[key].append([x,share])
                        Cash[x] = Cash[x]*(1-alloc[n])
                        p[x] = p[x] + share
                        buySignal[n] = True
                else:
                    if (SP.loc[x-1,'Pullback']> -thres[n]) & (SP.loc[x,'Pullback'] <= -thres[n]) & (not buySignal[n]):
                        #buy
                        share = Cash[x]*alloc[n]/SP.loc[x,'AdjClose']
                        position[key].append([x,share])
                        Cash[x] = Cash[x]*(1-alloc[n])
                        p[x] = p[x] + share
                        buySignal[n] = True

    # Track total position held at different levels 

        for key in position.keys():
            if position[key]:
                for pos in range(len(position[key])):
                    n = int(key)-1
#                     plist[n][x] = plist[n][x] + position[key][pos][1]

        if p[x] < 0.0001: p[x] = 0.0                 
        val[x] = Cash[x] + p[x]*SP.loc[x,'AdjClose']


    #     SP['Cash'] = Cash
    #     SP['Position'] = p
    #     SP['P1'] = plist[0]
    #     SP['P2'] = plist[1] 
    #     SP['P3'] = plist[2]
    #     SP['P4'] = plist[3]
    #     SP['P5'] = plist[4]
    #     SP['P6'] = plist[5]
    SP['MTM'] = val
    #     SP = SP[['Date','AdjClose','Pullback','T Bill','Cash','Position','P1','P2','P3','P4','P5','P6','MTM']]   

    returns = SP['MTM'][StartDate-1:-1].pct_change()
    returns = returns[returns != 0]
    entry.append(thre)
    MTM.append(SP['MTM'][len(SP)-1])
    sharpe.append(np.sqrt(12) * returns.mean() / returns.std())   
    mdd.append(max_drawdown(SP['MTM']))

In [21]:
d= {'Pullback': entry, 'MTM':MTM, 'Sharpe': sharpe, 'Max drawndown':mdd}
a = pd.DataFrame(data = d)
a = a[['Pullback','MTM','Sharpe','Max drawndown']]
a

    Pullback              MTM    Sharpe  Max drawndown
0       0.01  45599198.016060  0.521591       0.525559
1       0.02  45599198.016060  0.521591       0.525559
2       0.03  45599198.016060  0.521591       0.525559
3       0.04  42713938.081550  0.518620       0.525559
4       0.05  42713938.081550  0.518620       0.525559
5       0.06  42713938.081550  0.518620       0.525559
6       0.07  10233393.142540  0.448349       0.586513
7       0.08   6567622.006633  0.388832       0.596613
8       0.09   7114753.350094  0.412709       0.596613
9       0.10   8299862.880559  0.446968       0.596613
10      0.11   5543766.746243  0.383686       0.596613
11      0.12   5054173.165885  0.378577       0.592160
12      0.13   4979291.308599  0.381318       0.592160
13      0.14   5119998.049886  0.387054       0.580636
14      0.15   5754654.989140  0.411647       0.564048
15      0.16   4113825.177641  0.378212       0.489918
16      0.17   4892492.946129  0.419739       0.489918
17      0.18   5307643.874873  0.463635       0.484839
18      0.19   6486334.381188  0.494663       0.438196
19      0.20   4687017.973170  0.450476       0.438196
20      0.21   5263199.612917  0.479690       0.438196
21      0.22   5643022.129149  0.501947       0.438196
22      0.23   5643022.129149  0.501947       0.438196
23      0.24   2182613.983456  0.328689       0.390390
24      0.25   2856804.153431  0.434279       0.368460
25      0.26   3076322.376513  0.462753       0.368460
26      0.27   3192635.848291  0.475117       0.360739
27      0.28   3401211.421540  0.499491       0.316331
28      0.29   3401211.421540  0.499491       0.316331
29      0.30   3564819.394661  0.518938       0.319846
30      0.31   2347690.315558  0.433356       0.319846
31      0.32   2734125.415869  0.503696       0.319846
32      0.33   2330860.954026  0.514631       0.244585
33      0.34   2330860.954026  0.514631       0.244585
34      0.35   2521615.007325  0.562772       0.250519
35      0.36   2521615.007325  0.562772       0.250519
36      0.37   2521615.007325  0.562772       0.250519
37      0.38   2768175.357925  0.618536       0.189883
38      0.39   3132761.542369  0.708697       0.189883
39      0.40   3586113.446013  0.811552       0.186172
40      0.41   3586113.446013  0.811552       0.186172
41      0.42   3586113.446013  0.811552       0.186172
42      0.43   4011617.637015  0.891352       0.118920
43      0.44   4011617.637015  0.891352       0.118920
44      0.45   4011617.637015  0.891352       0.118920
45      0.46   4011617.637015  0.891352       0.118920
46      0.47   1951195.025531  1.279135       0.106794
47      0.48   1951195.025531  1.279135       0.106794
48      0.49   1951195.025531  1.279135       0.106794
49      0.50   1951195.025531  1.279135       0.106794

In [22]:
a.to_csv('test results.csv')

In [ ]:
plot(SP['Date'],SP['MTM'])

In [ ]:
for x in [float(j)/100 for j in range(1,6,1)]:
    print (x)

In [ ]:
SP

In [ ]:
x = SP['Pullback'][59:].values

plt.hist(x, bins=np.histogram(x)[1].tolist())
plt.show()

In [ ]:
np.histogram(x)

In [23]:
SP

          Date     AdjClose  Pullback  T Bill             MTM
0   1950-01-31    17.049999       NaN       0        0.000000
1   1950-02-28    17.219999       NaN       0        0.000000
2   1950-03-31    17.290001       NaN       0        0.000000
3   1950-04-30    17.959999       NaN       0        0.000000
4   1950-05-31    18.780001       NaN       0        0.000000
5   1950-06-30    17.690001       NaN       0        0.000000
6   1950-07-31    17.840000       NaN       0        0.000000
7   1950-08-31    18.420000       NaN       0        0.000000
8   1950-09-30    19.450001       NaN       0        0.000000
9   1950-10-31    19.530001       NaN       0        0.000000
10  1950-11-30    19.510000       NaN       0        0.000000
11  1950-12-31    20.430000       NaN       0        0.000000
12  1951-01-31    21.660000       NaN       0        0.000000
13  1951-02-28    21.799999       NaN       0        0.000000
14  1951-03-31    21.480000       NaN       0        0.000000
15  1951-04-30    22.430000       NaN       0        0.000000
16  1951-05-31    21.520000       NaN       0        0.000000
17  1951-06-30    20.959999       NaN       0        0.000000
18  1951-07-31    22.400000       NaN       0        0.000000
19  1951-08-31    23.280001       NaN       0        0.000000
20  1951-09-30    23.260000       NaN       0        0.000000
21  1951-10-31    22.940001       NaN       0        0.000000
22  1951-11-30    22.879999       NaN       0        0.000000
23  1951-12-31    23.770000       NaN       0        0.000000
24  1952-01-31    24.139999       NaN       0        0.000000
25  1952-02-29    23.260000       NaN       0        0.000000
26  1952-03-31    24.370001       NaN       0        0.000000
27  1952-04-30    23.320000       NaN       0        0.000000
28  1952-05-31    23.860001       NaN       0        0.000000
29  1952-06-30    24.959999       NaN       0        0.000000
..         ...          ...       ...     ...             ...
745 2012-02-29  1365.680054 -0.118564       0  1776313.072739
746 2012-03-31  1408.469971 -0.090946       0  1799597.250420
747 2012-04-30  1397.910034 -0.097762       0  1793851.049757
748 2012-05-31  1310.329956 -0.154288       0  1746194.259550
749 2012-06-30  1362.160034 -0.120835       0  1774397.650208
750 2012-07-31  1379.319946 -0.109760       0  1783735.234106
751 2012-08-31  1406.579956 -0.092166       0  1798568.796799
752 2012-09-30  1440.670044 -0.070164       0  1817118.953513
753 2012-10-31  1412.160034 -0.046572       0  1801605.202025
754 2012-11-30  1416.180054 -0.035536       0  1803792.700074
755 2012-12-31  1426.189941 -0.010051       0  1809239.590459
756 2013-01-31  1498.109985  0.000000       0  1848374.956936
757 2013-02-28  1514.680054  0.000000       0  1857391.577154
758 2013-03-31  1569.189941  0.000000       0  1872222.382905
759 2013-04-30  1597.569946  0.000000       0  1879943.887472
760 2013-05-31  1630.739990  0.000000       0  1888968.644381
761 2013-06-30  1606.280029 -0.014999       0  1882313.687817
762 2013-07-31  1685.729980  0.000000       0  1903930.074404
763 2013-08-31  1632.969971 -0.031298       0  1889575.367617
764 2013-09-30  1681.550049 -0.002480       0  1902792.817512
765 2013-10-31  1756.540039  0.000000       0  1923195.757899
766 2013-11-30  1805.810059  0.000000       0  1936600.924121
767 2013-12-31  1848.359985  0.000000       0  1948177.717285
768 2014-01-31  1782.589966 -0.035583       0  1930283.305286
769 2014-02-28  1859.449951  0.000000       0  1951195.025531
770 2014-03-31  1872.339966  0.000000       0  1951195.025531
771 2014-04-30  1883.949951  0.000000       0  1951195.025531
772 2014-05-31  1923.569946  0.000000       0  1951195.025531
773 2014-06-30  1960.229980  0.000000       0  1951195.025531
774 2014-07-31  1930.670044 -0.015080       0  1951195.025531

[775 rows x 5 columns]